/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
.parole {
  position: relative;
}

.parole i {
  display: none;
}

.parole i:nth-child(1) {
  display: inline-block;
  animation: fadeInOut 9s infinite;
}

.parole i:nth-child(2) {
  display: inline-block;
  animation: delayFadeInOut 9s 2s infinite;
}

.parole i:nth-child(3) {
  display: inline-block;
  animation: delayFadeInOut 9s 4s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes delayFadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  33%,
  66% {
    opacity: 1;
  }
}
